/* Write your CSS here */
.bg-container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

.heading {
  font-family: 'Bree Serif';
  font-size: 32px;
  font-weight: bold;
  color: #f0bb03;
}

.description {
  font-family: 'Bree Serif';
  font-size: 24px;
  color: #ffffff;
}

.button {
  background-color: #ffffff;
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .heading {
    font-size: 48px;
  }

  .description {
    font-size: 32px;
  }

  .button {
    font-size: 24px;
  }
}
